In [1]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [2]:
'''
A database is an organized collection of structured information, or data, typically
stored in a computer system.

The diffrences between SQL and NoSQL databases are listed below:
i) SQL databases are relational, and NoSQL databases are non-relational.
ii) SQL databases use structured query language(SQL) and have a predefined 
    schema, whereas NoSQL databases have dynamic schemas for unstructured data.
iii) SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
iv) SQL databases are table based, while NoSQL databases are document, key-value, 
     graph, or wide-column stores.
v) SQL databases are better for multi-row transactions, while NoSQL is better 
    for unstructured data like documents or JSON. 


'''

'\nA database is an organized collection of structured information, or data, typically\nstored in a computer system.\n\nThe diffrences between SQL and NoSQL databases are listed below:\ni) SQL databases are relational, and NoSQL databases are non-relational.\nii) SQL databases use structured query language(SQL) and have a predefined \n    schema, whereas NoSQL databases have dynamic schemas for unstructured data.\niii) SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.\niv) SQL databases are table based, while NoSQL databases are document, key-value, \n     graph, or wide-column stores.\nv) SQL databases are better for multi-row transactions, while NoSQL is better \n    for unstructured data like documents or JSON. \n\n\n'

In [3]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [4]:
''' 
A data definition language (DDL) is a computer language used to create and modify 
the structure of database objects in a database. These database objects include 
views, schemas, tables, indexes, etc.

1) CREATE
-> Used to create database objects such as tables, indexes, or views.
Example:
 CREATE TABLE students(
     student_id INT PRIMARY KEY,
     first_name VARCHAR(50)
     last_name VARCHAR(50)
     enrolled_date DATE
 );
 
2) DROP
-> Used to delete existing database objects like tables or indexes.
Example:
 DROP TABLE students

3) ALTER
 -> Used to modify the structure of an existing database object, such as adding or 
 removing columns in a table.
Example:
 ALTER TABLE students
 ADD COLUMN roll_no INT;
 
4) TRUNCATE
-> Used to remove all  rows from a table but retain the table structure for future use.
   It is fasater than DELETE for removing all records.
Example:
TRUNCATE TABLE students;
'''

' \nA data definition language (DDL) is a computer language used to create and modify \nthe structure of database objects in a database. These database objects include \nviews, schemas, tables, indexes, etc.\n\n1) CREATE\n-> Used to create database objects such as tables, indexes, or views.\nExample:\n CREATE TABLE students(\n     student_id INT PRIMARY KEY,\n     first_name VARCHAR(50)\n     last_name VARCHAR(50)\n     enrolled_date DATE\n );\n \n2) DROP\n-> Used to delete existing database objects like tables or indexes.\nExample:\n DROP TABLE students\n\n3) ALTER\n -> Used to modify the structure of an existing database object, such as adding or \n removing columns in a table.\nExample:\n ALTER TABLE students\n ADD COLUMN roll_no INT;\n \n4) TRUNCATE\n-> Used to remove all  rows from a table but retain the table structure for future use.\n   It is fasater than DELETE for removing all records.\nExample:\nTRUNCATE TABLE students;\n'

In [5]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [6]:
''' 
DML stands for Data Manipulation Language, which is a subset of SQL(Structured Query Language) used for manipulating data stored in  a
database.

1) INSERT
-> Used to add new rows of data into a table.
Example: 
INSERT INTO students (student_id, first_name, last_name, enrolled_date)
VALUE (1, 'SAUGAT', 'POUDEL', '2003-03-12')

2) UPDATE
-> Used to modify existing data in a table.
Example: 
UPDATE students
SET roll_no = 1
WHERE student_id = 1;

3) DELETE
-> Used to remove one or more rows from a table.
DELETE FROM students
WHERE student_id = 1;


'''

" \nDML stands for Data Manipulation Language, which is a subset of SQL(Structured Query Language) used for manipulating data stored in  a\ndatabase.\n\n1) INSERT\n-> Used to add new rows of data into a table.\nExample: \nINSERT INTO students (student_id, first_name, last_name, enrolled_date)\nVALUE (1, 'SAUGAT', 'POUDEL', '2003-03-12')\n\n2) UPDATE\n-> Used to modify existing data in a table.\nExample: \nUPDATE students\nSET roll_no = 1\nWHERE student_id = 1;\n\n3) DELETE\n-> Used to remove one or more rows from a table.\nDELETE FROM students\nWHERE student_id = 1;\n\n\n"

In [7]:
#Q4. What is DQL? Explain SELECT with an example.

In [8]:
''' 
DQL stands for Data Query Language, and it is a subset of SQL ued for querying and 
retriving data from a database.

SELECT
-> Used to retrive data from one or more tables in a database.

Example:
SELECT student_id, first_name, last_name, enrolled_date
FROM students
WHERE class_id = 11;


'''

' \nDQL stands for Data Query Language, and it is a subset of SQL ued for querying and \nretriving data from a database.\n\nSELECT\n-> Used to retrive data from one or more tables in a database.\n\nExample:\nSELECT student_id, first_name, last_name, enrolled_date\nFROM students\nWHERE class_id = 11;\n\n\n'

In [9]:
#Q5. Explain Primary Key and Foreign Key.

In [10]:
''' 
Primary key: Primary key is a field or set of fields in a  database table that uniquely identifies each
record in that table. It serves as a unique identifier and ensures the integrity of the data 
within the table. 
Foreign Key: A foreign key is a field in a database table that is a primary key in another table.
It establishes a link between two tables by refrencing the primary key of one table from 
another table. The foreign key in one table typically refers to the primary key of another table, 
creating a relationship between the two tables.


'''

' \nPrimary key: Primary key is a field or set of fields in a  database table that uniquely identifies each\nrecord in that table. It serves as a unique identifier and ensures the integrity of the data \nwithin the table. \nForeign Key: A foreign key is a field in a database table that is a primary key in another table.\nIt establishes a link between two tables by refrencing the primary key of one table from \nanother table. The foreign key in one table typically refers to the primary key of another table, \ncreating a relationship between the two tables.\n\n\n'

In [11]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [12]:
!pip install mysql-connector-python
import mysql.connector

# Establishing a connection to MySQL
connection = mysql.connector.connect(
    host="your_mysql_host",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object
cursor = connection.cursor()

# Example: executing a SELECT query
query = "SELECT * FROM your_table;"
cursor.execute(query)

# Fetching the result set
result = cursor.fetchall()

# Displaying the result
for row in result:
    print(row)

# Closing the cursor and connection
cursor.close()
connection.close()

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.2.0-cp311-cp311-win_amd64.whl.metadata (2.1 kB)
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp310-abi3-win_amd64.whl (527 kB)
     ---------------------------------------- 0.0/527.0 kB ? eta -:--:--
      --------------------------------------- 10.2/527.0 kB ? eta -:--:--
     -- ---------------------------------- 41.0/527.0 kB 495.5 kB/s eta 0:00:01
     -------------- ----------------------- 194.6/527.0 kB 1.7 MB/s eta 0:00:01
     ------------------------ ------------- 337.9/527.0 kB 2.1 MB/s eta 0:00:01
     ----------------------------------- -- 491.5/527.0 kB 2.4 MB/s eta 0:00:01
     -------------------------------------- 527.0/527.0 kB 2.4 MB/s eta 0:00:00
Downloading mysql_connector_python-8.2.0-cp311-cp311-win_amd64.whl (14.2 MB)
   ---------------------------------------- 0.0/14.2 MB ? eta -:--:--
   ---------------------------------------- 0.1/14.2 MB 2.8 MB/s eta 0:00:05
    --------------------------------------- 0.3/14.2 MB 3.1 MB/s eta 0:00:05
   - -------------------------------------- 0.5/14.2 MB 3.1 MB/s eta 0:00:05
   - -------------------------------------- 0.6/14.2 MB 3.4 MB/s eta 0:00:05
   -- ------------------------------------- 0.8/14.2 MB 3.2 MB/s eta 0:00:05
   -- ------------------------------------- 0.9/14.2 MB 3.3 MB/s eta 0:00:04
   -- ------------------------------------- 1.1/14.2 MB 3.2 MB/s eta 0:00:05
   --- ------------------------------------ 1.2/14.2 MB 3.3 MB/s eta 0:00:04
   --- ------------------------------------ 1.4/14.2 MB 3.2 MB/s eta 0:00:04
   ---- ----------------------------------- 1.5/14.2 MB 3.3 MB/s eta 0:00:04
   ---- ----------------------------------- 1.7/14.2 MB 3.3 MB/s eta 0:00:04
   ----- ---------------------------------- 1.8/14.2 MB 3.3 MB/s eta 0:00:04
   ----- ---------------------------------- 2.0/14.2 MB 3.3 MB/s eta 0:00:04
   ------ --------------------------------- 2.2/14.2 MB 3.3 MB/s eta 0:00:04
   ------ --------------------------------- 2.3/14.2 MB 3.3 MB/s eta 0:00:04
   ------ --------------------------------- 2.5/14.2 MB 3.3 MB/s eta 0:00:04
   ------- -------------------------------- 2.6/14.2 MB 3.3 MB/s eta 0:00:04
   ------- -------------------------------- 2.8/14.2 MB 3.3 MB/s eta 0:00:04
   -------- ------------------------------- 2.9/14.2 MB 3.3 MB/s eta 0:00:04
   -------- ------------------------------- 3.1/14.2 MB 3.3 MB/s eta 0:00:04
   --------- ------------------------------ 3.2/14.2 MB 3.3 MB/s eta 0:00:04
   --------- ------------------------------ 3.4/14.2 MB 3.3 MB/s eta 0:00:04
   --------- ------------------------------ 3.6/14.2 MB 3.3 MB/s eta 0:00:04
   ---------- ----------------------------- 3.7/14.2 MB 3.3 MB/s eta 0:00:04
   ---------- ----------------------------- 3.9/14.2 MB 3.3 MB/s eta 0:00:04
   ----------- ---------------------------- 4.0/14.2 MB 3.3 MB/s eta 0:00:04
   ----------- ---------------------------- 4.2/14.2 MB 3.3 MB/s eta 0:00:04
   ----------- ---------------------------- 4.2/14.2 MB 3.3 MB/s eta 0:00:04
   ----------- ---------------------------- 4.2/14.2 MB 3.1 MB/s eta 0:00:04
   ------------ --------------------------- 4.3/14.2 MB 3.1 MB/s eta 0:00:04
   ------------ --------------------------- 4.4/14.2 MB 3.1 MB/s eta 0:00:04
   ------------ --------------------------- 4.6/14.2 MB 3.1 MB/s eta 0:00:04
   ------------ --------------------------- 4.6/14.2 MB 3.1 MB/s eta 0:00:04
   ------------- -------------------------- 4.8/14.2 MB 3.0 MB/s eta 0:00:04
   ------------- -------------------------- 4.9/14.2 MB 3.0 MB/s eta 0:00:04
   ------------- -------------------------- 5.0/14.2 MB 3.0 MB/s eta 0:00:04
   -------------- ------------------------- 5.1/14.2 MB 2.9 MB/s eta 0:00:04
   -------------- ------------------------- 5.2/14.2 MB 2.9 MB/s eta 0:00:04
   -------------- ------------------------- 5.3/14.2 MB 2.9 MB/s eta 0:00:04
   --------------- ------------------------ 5.4/14.2 MB 2.9 MB/s eta 0:00:04
   --------------- ------------------------ 5.5/14.2 MB 2.9 MB/s eta 0:00:04
   --------------- ------------------------ 5.7/14.2 MB 2.9 MB/s eta 0:00:03
   ---------------- ----------------------- 5.8/14.2 MB 2.9 MB/s eta 0:00:03
   ---------------- ----------------------- 6.0/14.2 MB 2.9 MB/s eta 0:00:03
   ----------------- ---------------------- 6.1/14.2 MB 2.9 MB/s eta 0:00:03
   ----------------- ---------------------- 6.3/14.2 MB 2.9 MB/s eta 0:00:03
   ------------------ --------------------- 6.4/14.2 MB 2.9 MB/s eta 0:00:03
   ------------------ --------------------- 6.6/14.2 MB 3.0 MB/s eta 0:00:03
   ------------------ --------------------- 6.7/14.2 MB 2.9 MB/s eta 0:00:03
   ------------------- -------------------- 6.9/14.2 MB 3.0 MB/s eta 0:00:03
   ------------------- -------------------- 7.0/14.2 MB 3.0 MB/s eta 0:00:03
   -------------------- ------------------- 7.2/14.2 MB 3.0 MB/s eta 0:00:03
   -------------------- ------------------- 7.3/14.2 MB 3.0 MB/s eta 0:00:03
   -------------------- ------------------- 7.3/14.2 MB 3.0 MB/s eta 0:00:03
   --------------------- ------------------ 7.5/14.2 MB 2.9 MB/s eta 0:00:03
   --------------------- ------------------ 7.6/14.2 MB 2.9 MB/s eta 0:00:03
   --------------------- ------------------ 7.8/14.2 MB 2.9 MB/s eta 0:00:03
   ---------------------- ----------------- 7.9/14.2 MB 3.0 MB/s eta 0:00:03
   ---------------------- ----------------- 8.1/14.2 MB 3.0 MB/s eta 0:00:03
   ----------------------- ---------------- 8.3/14.2 MB 3.0 MB/s eta 0:00:03
   ----------------------- ---------------- 8.4/14.2 MB 3.0 MB/s eta 0:00:02
   ------------------------ --------------- 8.6/14.2 MB 3.0 MB/s eta 0:00:02
   ------------------------ --------------- 8.7/14.2 MB 3.0 MB/s eta 0:00:02
   ------------------------ --------------- 8.9/14.2 MB 3.0 MB/s eta 0:00:02
   ------------------------- -------------- 9.0/14.2 MB 3.0 MB/s eta 0:00:02
   ------------------------- -------------- 9.2/14.2 MB 3.0 MB/s eta 0:00:02
   -------------------------- ------------- 9.3/14.2 MB 3.0 MB/s eta 0:00:02
   -------------------------- ------------- 9.5/14.2 MB 3.0 MB/s eta 0:00:02
   -------------------------- ------------- 9.6/14.2 MB 3.0 MB/s eta 0:00:02
   --------------------------- ------------ 9.7/14.2 MB 3.0 MB/s eta 0:00:02
   --------------------------- ------------ 9.9/14.2 MB 3.0 MB/s eta 0:00:02
   ---------------------------- ----------- 10.0/14.2 MB 3.0 MB/s eta 0:00:02
   ---------------------------- ----------- 10.2/14.2 MB 3.0 MB/s eta 0:00:02
   ----------------------------- ---------- 10.4/14.2 MB 3.0 MB/s eta 0:00:02
   ----------------------------- ---------- 10.5/14.2 MB 3.0 MB/s eta 0:00:02
   ------------------------------ --------- 10.7/14.2 MB 3.0 MB/s eta 0:00:02
   ------------------------------ --------- 10.8/14.2 MB 3.0 MB/s eta 0:00:02
   ------------------------------ --------- 11.0/14.2 MB 3.0 MB/s eta 0:00:02
   ------------------------------- -------- 11.1/14.2 MB 3.0 MB/s eta 0:00:02
   ------------------------------- -------- 11.3/14.2 MB 3.0 MB/s eta 0:00:01
   -------------------------------- ------- 11.4/14.2 MB 3.0 MB/s eta 0:00:01
   -------------------------------- ------- 11.6/14.2 MB 3.0 MB/s eta 0:00:01
   --------------------------------- ------ 11.8/14.2 MB 3.0 MB/s eta 0:00:01
   --------------------------------- ------ 11.9/14.2 MB 3.0 MB/s eta 0:00:01
   --------------------------------- ------ 12.1/14.2 MB 3.0 MB/s eta 0:00:01
   ---------------------------------- ----- 12.2/14.2 MB 3.0 MB/s eta 0:00:01
   ---------------------------------- ----- 12.4/14.2 MB 3.0 MB/s eta 0:00:01
   ----------------------------------- ---- 12.5/14.2 MB 3.0 MB/s eta 0:00:01
   ----------------------------------- ---- 12.7/14.2 MB 3.0 MB/s eta 0:00:01
   ------------------------------------ --- 12.8/14.2 MB 3.0 MB/s eta 0:00:01
   ------------------------------------ --- 13.0/14.2 MB 3.0 MB/s eta 0:00:01
   ------------------------------------ --- 13.1/14.2 MB 3.0 MB/s eta 0:00:01
   ------------------------------------- -- 13.3/14.2 MB 3.0 MB/s eta 0:00:01
   ------------------------------------- -- 13.4/14.2 MB 3.0 MB/s eta 0:00:01
   -------------------------------------- - 13.6/14.2 MB 3.0 MB/s eta 0:00:01
   -------------------------------------- - 13.7/14.2 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  13.9/14.2 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  14.1/14.2 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.2 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 14.2/14.2 MB 3.0 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.2.0 protobuf-4.21.12

In [13]:
''' 
Explanation of the cursor() and execute() methods:

cursor() method:

The cursor() method is called on the connection object to create a cursor.
A cursor is a pointer or an interface to interact with the database. It allows you to execute SQL queries, fetch results, and manage transactions.
execute() method:

The execute() method is called on the cursor object to execute a SQL query.
It takes a SQL query as an argument and sends it to the MySQL server for execution.
After executing the query, you can use other cursor methods (e.g., fetchone(), fetchall()) to retrieve the results.
'''

' \nExplanation of the cursor() and execute() methods:\n\ncursor() method:\n\nThe cursor() method is called on the connection object to create a cursor.\nA cursor is a pointer or an interface to interact with the database. It allows you to execute SQL queries, fetch results, and manage transactions.\nexecute() method:\n\nThe execute() method is called on the cursor object to execute a SQL query.\nIt takes a SQL query as an argument and sends it to the MySQL server for execution.\nAfter executing the query, you can use other cursor methods (e.g., fetchone(), fetchall()) to retrieve the results.\n'

In [15]:
#Q7. Give the order of execution of SQL clauses in an SQL query.

In [14]:
''' 

In an SQL query, the clauses are generally executed in a specific order. The standard order of execution is as follows:

FROM:

The FROM clause specifies the table or tables from which the data will be retrieved.
WHERE:

The WHERE clause is used to filter the rows based on a specified condition. It restricts the result set to only include rows that satisfy the specified conditions.
GROUP BY:

The GROUP BY clause is used to group rows based on one or more columns. This is often used in combination with aggregate functions (e.g., COUNT, SUM) to perform calculations on grouped data.
HAVING:

The HAVING clause is used in conjunction with GROUP BY to filter the groups based on aggregate conditions. It operates similarly to the WHERE clause but is used specifically with grouped data.
SELECT:

The SELECT clause specifies the columns to be retrieved from the tables. It comes after the FROM, WHERE, GROUP BY, and HAVING clauses.
ORDER BY:

The ORDER BY clause is used to sort the result set based on one or more columns. It comes after the SELECT clause.
LIMIT/OFFSET:

The LIMIT and OFFSET (or FETCH) clauses are used to limit the number of rows returned by the query and to specify the starting point for the result set. These clauses are often used for pagination.


'''

' \n\nIn an SQL query, the clauses are generally executed in a specific order. The standard order of execution is as follows:\n\nFROM:\n\nThe FROM clause specifies the table or tables from which the data will be retrieved.\nWHERE:\n\nThe WHERE clause is used to filter the rows based on a specified condition. It restricts the result set to only include rows that satisfy the specified conditions.\nGROUP BY:\n\nThe GROUP BY clause is used to group rows based on one or more columns. This is often used in combination with aggregate functions (e.g., COUNT, SUM) to perform calculations on grouped data.\nHAVING:\n\nThe HAVING clause is used in conjunction with GROUP BY to filter the groups based on aggregate conditions. It operates similarly to the WHERE clause but is used specifically with grouped data.\nSELECT:\n\nThe SELECT clause specifies the columns to be retrieved from the tables. It comes after the FROM, WHERE, GROUP BY, and HAVING clauses.\nORDER BY:\n\nThe ORDER BY clause is used to sort the result set based on one or more columns. It comes after the SELECT clause.\nLIMIT/OFFSET:\n\nThe LIMIT and OFFSET (or FETCH) clauses are used to limit the number of rows returned by the query and to specify the starting point for the result set. These clauses are often used for pagination.\n\n\n'